<div class="entry_guarantee">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
        <div class="col-6 col-md-3">
          <div class="single_guarantee">
            {{ block.settings.guarantee_img | image_url: width: 100 | image_tag }}
            <h3>{{ block.settings.guarantee_title }}</h3>
            <p>{{ block.settings.guarantee_des }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Guarantee",
  "class": "home-guarantee-section-main",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "section_padding",
      "label": "Section Padding"
    }
    {
      "type": "color",
      "id": "section_bg",
      "label": "Background"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Guarantee",
      "settings": [
        {
          "type": "text",
          "id": "guarantee_title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "guarantee_des",
          "label": "Descriptions",
          "default": "Descriptions"
        },
        {
          "type": "image_picker",
          "id": "guarantee_img",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Guarantee",
      "category": "Guarantee",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
  {% assign sec_padding = section.settings.section_padding %}
  {% assign sec_bg = section.settings.section_bg %}


  .entry_guarantee{
    padding: {{sec_padding}} 0;
    Background: {{sec_bg}};
  }
  .single_guarantee{
    text-align: center;
  }
  .single_guarantee img{
    display: inline-block !important;
  }

{% endstylesheet %}

{% javascript %}
{% endjavascript %}